.home-page-container {
  .create-blog-wrapper {
    display: flex;
    justify-content: end;

    button {
      width: 200px;
    }
  }

  .pagination-wrapper {
    max-width: 250px;
    display: flex;
    margin: 0 auto;
  }
}
