.mainapp-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content-container {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem 0;
  }
}
