.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #4d3836;
  color: #ffffff;
  position: relative;

  .logo {
    p {
      margin: 0;
      font-weight: 700;
      font-size: 1.4rem;
    }
  }

  .nav-container {
    p {
      text-decoration: underline;
      cursor: pointer;
      margin: 0;
    }
  }
}
